
<div class="pending-list">
    <h3>Ej schemalagda bokningar</h3> <!-- denna titel kan vi ta bort från komponenten och lägga i den container som skall hålla listan senare-->
    <ul id="external-events" class="booking-list" *ngIf="pendingBookings.length > 0; else noData">
      <li *ngFor="let booking of pendingBookings" class="draggable-booking"
          [attr.data-title]="booking.address">
          <p>{{ booking.customerId }}</p>
          <p>{{ booking.firstname || booking.firstName || 'Gäst' }}</p>
          <p>{{ booking.lastname || booking.lastName || '' }}</p>
          <p>{{ booking.address }}</p>
          <p>{{ booking.createdAt }}</p>
          <p>{{ booking.email }}</p> 
          <p>Önskat datum: {{ booking.requestedDate }}</p>
          <ul>
              <li *ngFor="let item of booking.items">
                  <p>{{ item.serviceName }}</p>
                  <p>Beskrivning: {{ item.description }}</p>
                  <p>Antal: {{ item.quantity }}st</p>
                  <p>Tid per enhet: {{ item.timePerUnit }}min</p>
                  <p>Price: {{ item.price}}kr</p>
              </li>
          </ul>
          <p>{{ booking.note }}</p> 
          <p>{{ booking.status }}</p>
          <p>Uppskattad total tid: {{ booking.totalDuration }}min</p>
          <p>Uppskattat total pris: {{ booking.totalPrice }}sek</p>
          <!-- {{ booking.date }}  -->
          <!-- {{ booking.name }}  -->
      </li>
    </ul>
    <p *ngIf="!pendingBookings || pendingBookings.length === 0">Inga bokningar hittades. (get-pending-bookings) 🚨</p>
    <p *ngIf="pendingBookings.length > 0">✅ Hittade {{ pendingBookings.length }} bokningar!</p>


    <ng-template #noData>
      <p>Inga bokningar hittades. (get-pending-bookings)</p>
    </ng-template>
  </div>