
.landing-page-wrapper {
    display: flex;
    margin: 3rem 1rem 3rem 1rem;
    justify-content: center;
    gap: 3rem;
}

.calendar-wrapper {
    flex-grow: 1;
    max-width: 1000px;
}

.confirmBookings-btn {
    padding: .5rem 1rem;
    background-color: var(--dark-blue);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: medium;
    font-weight: 500;
    transition: all 0.5s;
  }

  .confirmBookings-btn:hover {
    scale: 1.05;
    cursor: pointer;
  }

.pending-list {

    max-width: 320px;

    .pending-list-header{
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        border: 1px solid var(--dark-blue);
        border-radius: 5px 5px 0px 0px;
        background-color: var(--dark-blue);
    }

    .booking-list {
      list-style: none;
      padding: 10px 1px 10px 10px;
      max-height: 80dvh;
      min-height: 80dvh;
      overflow: hidden;
      overflow-y: scroll;
      background-color: white;
      border: 1px solid var(--dark-blue);
      border-radius: 0px 0px 5px 5px;
      margin-top: 0;
  
      .draggable-booking {
        border-radius: 8px;
        margin-bottom: 10px;
        background-color: #fff;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
  
        .panel-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          background-color: var(--soft-blue);
          border-bottom: 1px solid #ddd;
          font-family: 'roboto' sans-serif;
          color: var(--dark-blue);
          border-radius: 8px;

          .panel-header-info {
            display: flex;
            flex-direction: column;

            .booking-name {
                font-weight: bold;
            }
          }
        }
  
        .panel-header:hover {
          background-color: var(--soft-blue-hover);
        }
  
        .panel-content {
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            transition: all 0.5s ease-out;
            padding: 0 16px;
          }
          
          .panel-content.expanded {
            opacity: 1;
            padding: 16px;
            max-height: fit-content;
          }

          .toggle-icon {
            font-size: larger;
            font-weight: 500;
            transition: transform 0.5s ease-in-out;
          }
          
          .toggle-icon.expanded {
            transform: rotate(180deg);
          }
      }
    }
  }
  