

   <div class="fb-page" 
     data-href="https://www.facebook.com/profile.php?id=100090577250606" 
     data-tabs="timeline" 
     
     data-small-header="false" 
     data-adapt-container-width="true" 
     data-hide-cover="false" 
     data-show-facepile="true">
  <blockquote cite="https://www.facebook.com/profile.php?id=100090577250606" class="fb-xfbml-parse-ignore">
    <a href="https://www.facebook.com/profile.php?id=100090577250606">Hammarö Fönsterputs & Fastighetsservice AB</a>
  </blockquote>
</div>

<!-- 
data-width="500" 
data-height="700" 
-->