/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
    --dark-blue: #276587;
    --light-blue: #009ff5;
    --soft-blue: #eefbff;
    --soft-green: #e6f4f1;
    --alert-red: #9f413d;
}

/* Måste ha viss styling här för att skriva över angular components styling */

.signup .mat-mdc-text-field-wrapper {
    background-color: white;
    border-radius: 5px !important;
    width: 150px !important;
  }

  .mat-mdc-floating-label {
    color: black !important;
    background-color: white !important;
  }
