
<section class="hero-section">
  <section class="about-section--hero y mandatory-scroll-snapping">
    <figure class="image-wrapper">
      <img src="assets/Branschvinnare2022Transparant.png" alt="Branschvinnare 2022">
    </figure>
    <section class="about-text">
      <p>Vi erbjuder fönsterputs åt både företag och privatpersoner.</p>
      <p>Vi utför även fasadtvätt och fastighetsservice.</p>
      <p>Vårt arbetsområde är främst inom Hammarö Kommun.</p>
      <p>Företaget innehar F-skattsedel.</p>
      <p>För Företag och Kommuner Löpande avtal eller engångsuppdrag</p>
    </section>
    <figure class="image-wrapper">
      <img src="assets/Branschvinnare2023.png" alt="Branschvinnare 2023">
    </figure>
  </section>
</section>

<main class="landing-page-wrapper">
  <app-booking-form 
    [confirmedBookings]="confirmedBookings" 
    (newBooking)="handleNewBooking($event)">
  </app-booking-form>
  <section class="services-section y mandatory-scroll-snapping">
    <h2>Vad vi erbjuder:</h2>
    <section class="services-section--inner">
      
      <section class="window-cleaning"> 
        <ul>
          <h4 class="list-title">Fönsterputs</h4>
          <li class="list-item">
            Enbart utsida:<br>15 - 30 fönster = 400 - 600kr
          </li>
          <li class="list-item">
            2 sidor (in och utsida):<br>15 - 30 fönster = 550 - 900kr
          </li>
          <li class="list-item">
            4 sidor (insida, utsida och mellan):<br>15 - 30 fönster = 600 - 1600kr
          </li>
        </ul>
      </section>
      
      
      <section class="fasadtvätt">
        <h4>FASADTVÄTT</h4>
        <p>
          Vi tvättar alla slags ytor som glas, trä, plåt, betong och tegel/sten.
          Vår miljövänliga metod med Ultra-rent vatten är mycket skonsam för underlaget.  
          Mögel, alger, svamp, mm försvinner. 
        </p>
      </section>
      
      <section class="fastighetsservice">
        <h4>
          FASTIGHETSSERVICE
        </h4>
        <p>
          Vi utför många olika tjänster inom fastighetsskötsel.
        </p>
        <ul>
          <li>Rensning hängrännor</li>
          <li>Enklare snickeriarbeten</li>
          <li>Måleri</li>
          <li>Grönytor</li>
          <li>Bortforsling skäp</li>
          <li>Flytthjälp</li>
        </ul>
      </section>
      
    </section>
    <section class="small-contact-section">
      <p>Prova gärna vårat bokningsformulär för att boka fönsterputs, annars går det bra att ringa som vanligt.</p>
      <a href="tel:+73-5051625">073 - 505 16 25</a>
    </section>
  </section>

  <!-- <section class="about-section y mandatory-scroll-snapping">
    <section class="image-wrapper">
      <img src="assets/Branschvinnare2022Transparant.png" alt="Branschvinnare 2022">
      <img src="assets/Branschvinnare2023.png" alt="Branschvinnare 2023">
    </section>
    <h2>Om oss:</h2>
    <section class="about-text">
      <p>Vi erbjuder fönsterputs åt både företag och privatpersoner.</p>
      <p>Vi utför även fasadtvätt och fastighetsservice.</p>
      <p>Vårt arbetsområde är främst inom Hammarö Kommun.</p>
      <p>Företaget innehar F-skattsedel.</p>
      <p>För Företag och Kommuner Löpande avtal eller engångsuppdrag</p>
    </section>
  </section> -->

  <section class="contact-section y mandatory-scroll-snapping">
    <h2>Kontakta oss:</h2>

    <section class="contact-section--inner">
      <app-fb></app-fb>
      <app-contact-form></app-contact-form>
    </section>
  </section>
</main>