

.landing-page-wrapper {
    max-width: 1500px;
    margin: 0 auto;
    border: 1px solid black;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 20px;
}

.hero-section {
    height: 50dvh;
    background-color: var(--soft-blue);
    border-bottom: 1px solid black;
    background-image: url(https://scontent.xx.fbcdn.net/v/t39.30808-6/331674482_476579274559271_3395805377824426513_n.png?stp=dst-png_s526x296&_nc_cat=104&ccb=1-7&_nc_sid=4cb600&_nc_ohc=p0zeshBJr7QQ7kNvgG5Iza1&_nc_oc=Admzp6UTUyflKTkYRZED82vjUhESTuxKmzolhdcpOZoDYnFmquDRvMTGxu8YltDE-Xo&_nc_zt=23&_nc_ht=scontent.xx&edm=AFGbsqAEAAAA&_nc_gid=FI5NjubY7yXLNybZhK7HcA&oh=00_AYG1iG7PZAbjy9ZX45_Erac05uW9H1Da6kpU0YkDwrpKHw&oe=67E0BE4E);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-snap-align: start;
}

.about-section {
    min-height: 50dvh;
    background-color: var(--soft-blue);
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: 20px;

    .image-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
}

.services-section {
    min-height: 50dvh;
    background-color: var(--soft-green);
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    .services-section--inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));    gap: 20px;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin: 20px;
    }

    section {
        height: 100%;
    }
}

.small-contact-section {
    place-items: center;
    margin: 20px;
}

.contact-section {
    min-height: 50dvh;
    background-color: var(--soft-blue);
    scroll-snap-align: start;
}