<footer>
    <img class="footer-img" src="assets/Branschvinnare2022Transparant.png" alt="Branschvinnare 2022">
    <ul>
        <li>Hammarö Fönsterputs & <br> Fastighetsservice AB</li>
        <li>Gunnarskärsvägen 33</li>
        <li>66333 Skoghall</li>
    </ul>
    <ul>
        <li>073-5051625</li>
        <li>niklas&#64;hammarofonsterputs.se</li>
        <li>Org.nr: 556650-3420</li>
        <li>Innehar F-skattesedel</li>
    </ul>
    <img class="footer-img" src="assets/Branschvinnare2023.png" alt="Branschvinnare 2023">
</footer>