
<div class="booking-container">
    <h2>Boka tjänst</h2>
    <button class="toggle-form-btn" (click)="toggleForm()">
        {{ isExpanded ? 'Stäng bokningsformulär' : 'Öppna bokningsformuär'}}
    </button>
    <section class="form-container" [ngClass]="{'expanded' : isExpanded }">


        <form [formGroup]="bookingForm" (ngSubmit)="submitBooking()">
            <label>Förnamn</label>
            <input type="text" formControlName="firstName" required />
            
            <label>Efternamn</label>
            <input type="text" formControlName="lastName" required />
            
            <label>E-post</label>
            <input type="email" formControlName="email" required />
            
            <label>Telefon</label>
            <input type="text" formControlName="phone" required />
            
            <!-- <label>Datum</label>
            <input type="date" formControlName="date" required /> -->
            <!-- <app-calendar [bookings]="confirmedBookings" (dateSelected)="onDateSelected($event)"></app-calendar> -->
            <app-get-confirmed-bookings #confirmedBookings></app-get-confirmed-bookings>
            <app-booking-calendar [confirmedBookings]="confirmedBookings.confirmedBookings" (dateSelected)="onDateSelected($event)"></app-booking-calendar>
            <p>Valt datum: {{ bookingForm.value.date }}</p>
            <label>Produkt</label>
            <select formControlName="product">
                <option value="">Välj en produkt</option>
                <option value="Fönsterputs">Fönsterputs</option>
        <option value="Takrengöring">Takrengöring</option>
        <option value="Fasadtvätt">Fasadtvätt</option>
    </select>
    
    <button type="submit" [disabled]="bookingForm.invalid">Boka</button>
    </form>
    </section>
  </div>
  