
<div class="booking-container">
    <h2>Boka tjänst</h2>
    <button class="toggle-form-btn" (click)="toggleForm()">
        {{ isExpanded ? 'Stäng bokningsformulär' : 'Öppna bokningsformuär'}}
    </button>
    <section class="form-container" [ngClass]="{'expanded' : isExpanded }">


        <form [formGroup]="bookingForm" (ngSubmit)="submitBooking()">
            <label>Förnamn</label>
            <input type="text" formControlName="firstName" required />
            
            <label>Efternamn</label>
            <input type="text" formControlName="lastName" required />
            
            <label>E-post</label>
            <input type="email" formControlName="email" required />
            
            <label>Telefon</label>
            <input type="text" formControlName="phone" required />
            
            <app-get-confirmed-bookings #confirmedBookings></app-get-confirmed-bookings>
            <app-booking-calendar [confirmedBookings]="confirmedBookings.confirmedBookings" (dateSelected)="onDateSelected($event)"></app-booking-calendar>
            <!-- <p>Valt datum: {{ bookingForm.value.date }}</p> -->
            <app-product-list (selectedProduct)="onProductSelected($event)"></app-product-list>
    <button type="submit" [disabled]="bookingForm.invalid">Boka</button>
    </form>
    </section>
  </div>
  