
<div class="product-list">
  <div *ngFor="let product of products" class="product-card">
    <p class="product-desc">{{ product.description }}</p>
    <div class="divider">
      <label class="activate-checkbox">
        <input  
          type="checkbox" 
          (change)="toggleProductSelection(product, $event)">
        Välj
      </label>
      <div class="show-input" [class.visible]="selectedProducts[product.id]">
        <label class="quantity" for="quantity-{{ product.id }}">Antal:</label>
        <input 
          class="input" 
          type="number" 
          id="quantity-{{ product.id }}" 
          min="1" 
          [value]="selectedProducts[product.id]?.quantity" 
          (input)="updateQuantity(product, $event)">
      </div>
    </div>
  </div>
</div>